---
layout: default
---

<div class="posts">
  <article class="post">
    <h1> Welcome to my website! </h1>
    This section is where I write about interesting things that I've worked on or encountered. You can find out more about me in the
    <a href="about">about</a> section. If you're looking for a specific topic
    you can click on one of the tags listed below. Otherwise feel free to explore the blog in order of recency. <br><br>
    {% for t in site.tagarchive %}
        <a href="{{t.permalink}}">{{t.value}}</a> &nbsp
    {% endfor %}
  </article>
  {% for post in site.posts %}
    <article class="post">
			  <div class="flex-container">
          <a href="{{ site.baseurl }}{{ post.permalink }}">
            <img class="post-preview" src="{{ post.img }}">
          </a>
          <div class="text-preview">
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <i>{{post.date | date: "%B %e, %Y" }}</i><br>
            {% if post.tags.size > 0 %}
            <i>Tags:</i> {% for t in post.tags %}
                        <a href="{{site.baseurl}}/tag/{{t | downcase | replace: " ", "-"}}">{{t}}</a>{% assign c = post.tags | size%}{% if forloop.index != c %}, {% endif %}
                    {% endfor %}
            {% endif %}
            <div class="entry">
              {{ post.excerpt }}
            </div>
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
          </div>
      </div>
    </article>
  {% endfor %}
</div>
