---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  // background-image: url(/images/cal3500.jpg) !important;
  // background-size: cover;
  // background-attachment: fixed;
  font: 18px/1.4 $helvetica;
  color: $black;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transform: scale(1.0);
  &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/images/cal3500.jpg");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
  }
}

.container {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $black;
  font-weight: bold;

  line-height: 1.7;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
  margin-bottom: 0px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

img.post-preview {
    width: calc(50px + 10vw);
    max-width: 150px;
    height: auto;
	border-radius: 10%;
	-moz-transition: -moz-transform 0.2s ease-out;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-ms-transition: -ms-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
}

img.post-preview:hover {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: rgb(45, 45, 45);
}


// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background-color: rgba(255, 255, 255, .1);
  position: relative;
  z-index: 1;
}

.masthead {
  padding: 40px 20px;
  margin: 0px;
  background-color: rgba(255, 255, 255, .15);
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: rgb(15, 15, 15);
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: rgb(25, 25, 25);
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

div.flex-container {
   display: flex;
   flex-direction: row;

}



div.text-preview {
   margin-left: 10px;
   width: auto;
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: rgb(17, 17, 95);
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
}

tr {
  a {
    margin-left: 20px;
    color: rgb(0, 0, 0);
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
}

#main {
	background-color: rgba(230, 230, 230, .85);
    padding: 0 10px;
	overflow: hidden;
	z-index: 0;
}

.posts > .post {
  padding: 15px;
  margin: 0 -10px;
  border-bottom: 1px solid #BBB;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  margin: 30px;
  blockquote {
    margin: 1.8em .8em;
    border-left: 4px solid #888888;
    padding: 0em 1em;
    color: #202020;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .footnote {
    vertical-align: super;
    font-size: 65%;
  }

  .footnote:before {
    content: "[";
  }

  .footnote:after {
    content: "]";
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }

}

.page {
  margin: 30px;
}

.wrapper-footer {
}

footer {
  padding: 20px 0;
  background-color: rgba(230, 230, 230, .6);
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
