---
layout: default
---

<article class="post">
    <div class="flex-container">
      {% if page.img %}
      <a href="{{ page.img }}">
        <img src="{{ page.img }}" width="100" height=auto>
      </a>
      {% endif %}
      <div class="text-preview">
      <h1>{{ page.title }}</h1>
      <div class="date">
        {{ page.date | date: "%B %e, %Y" }}
      </div>
      {% if page.tags.size > 0 %}
      <i>Tags:</i> {% for t in page.tags %}
                        <a href="{{site.baseurl}}/tag/{{t | downcase | replace: " ", "-"}}">{{t}}</a>{% assign c = page.tags | size%}{% if forloop.index != c %}, {% endif %}
                    {% endfor %}
      {% endif %}
      </div>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}

    {% if page.hackernews %}
    <br>
    Hacker News discussion: <a href="{{ page.hackernews }}">{{ page.hackernews }}</a>
    {% endif %}
  </div>

  {% include disqus.html %}
</article>
