---
layout: default
---
<div class="posts">
<article class="post">
<h1> Content tagged as <u>{{page.value}}</u> </h1>
{% for t in site.tagarchive %}
    {% if t.value == page.value %}
        <b style="color: #06F"> {{t.value}} &nbsp</b>
    {% else %}
        <a href="{{t.permalink}}">{{t.value}}</a> &nbsp
    {% endif%}
{% endfor %}
</article>

{% assign posts = site.portfolio | where_exp: "port", "port.tags contains page.value" %}
{% for tag in site.tags %}
    {% if tag[0] == page.value %}
        {% for post in tag[1] %}
            {% assign posts = posts | push: post %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% assign posts = posts | sort: "date" | reverse %}
{% for post in posts %}
    {% if post.layout == 'post' %}
            <br>
            &nbsp <i>Blog Post (<a href="/">Home</a>)</i>
            <article class="post">
                    <div class="flex-container">
                <a href="{{ site.baseurl }}{{ post.permalink }}">
                    <img class="post-preview" src="{{ post.img }}">
                </a>
                <div class="text-preview">
                    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                    <i>{{post.date | date: "%B %e, %Y" }}</i><br>
                    <i>Tags:</i> {% for t in post.tags %}
                        <a href="{{site.baseurl}}/tag/{{t | downcase | replace: " ", "-"}}">{{t}}</a>{% assign c = post.tags | size%}{% if forloop.index != c %}, {% endif %}
                    {% endfor %}

                    <div class="entry">
                    {{ post.excerpt }}
                    </div>
                    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
                </div>
            </div>
            </article>
    {% else %}
        <br>
        &nbsp <i>Stuff (<a href="/portfolio#{{post.category}}">{{post.category | capitalize }}</a>) </i>
        {{post}}
    {% endif %}
{% endfor %}
</div>